<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<script type="text/javascript">
		//html5 script
		(function(){if(!/*@cc_on!@*/0)return;var e = "abbr,article,aside,audio,canvas,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=e.length;while(i--){document.createElement(e[i])}})();
		</script>
		<link rel="stylesheet" type="text/css" href="reset.css" />
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
	
		<section id="header">
			<ul id="header-nav">
				<li><a href="http://www.xidea.org/cs/" target="_blank">首页</a></li>
				<li><a href="http://www.xidea.org/cs/" target="_blank">安装/试用</a></li>
				<li><a href="http://www.xidea.org/cs/" target="_blank">Fock Me</a></li>
				<li><a href="http://www.xidea.org/cs/" target="_blank">关于</a></li>
			</ul>
		</section>
		<section id="content">
			<section class="wrap">
				<aside id="sidebar">
				</aside>
				<article id="view">

				<script type="template" id="template">	
					<section class="info">
						<h2><%= info-title =%></h2>
						<article class="intro">
							<h3>说明</h3>
							<%= intro-content =%>
						</article>
						<article class="set-value">
							<h3>参考值</h3>
							<%= set-value-content =%>
						</article>
					</section>
					<section class="demo">
						<h3>代码示例</h3>
						<span class="operate">点击下面的代码可修改</span>
						<a href="#exec-now" id="exec">运行</a>
						<section class="code">

						<textarea id="code-content"><%= code =%></textarea>

					</section>
					<section class="show">
						<h3>DEMO</h3>	
						<section id="show-content">
							<%= code =%>
						</section>
					</section>
				</section>		
				</script>

				</article>
			</section>
		</section>
		<section id="footer">
			<mark>
				Copyright &copy; CS@baidu.FE - 2012
			</mark>
		</section>
		
		<script type="text/javascript" src="./core/sea.js" data-main="./core/init" ></script>
	</body>
</html>